header {
    background: var(--primary-header-background-color);

    .header__nav {
        width: 100%;
        display: flex;
        height: 103.1px;
        align-items:center;
        padding: 5px 24px 0px;
        font-family: var(--primary-font-family);

        .header__logo-container {
            width: 119px;
            height: 88.1px;

            .header__logo-image {
                display: block;
                width: 119px;
                height: 88.1px;
            }
        }
@media (max-width: 1000px){

    
        .header__menu {
            visibility: hidden;
        }

        .header__socials {
            visibility: hidden;
        }
    }
}
}



@media (min-width: 1001px){
    .header__menu {
        display: flex;
        list-style-type: none;
        gap: 15px;
        padding: 0 20px;

        .header__menu-link{
            color: var(--header-nav-primary-text-color);
        }

        .header__menu-link:hover{
            color: var(--header-nav-hover-text-color);
        }
    }

    .header__socials {
        list-style-type: none;
        display: flex;
        gap: 10px;
        justify-content: flex-end;

        .header__socials-item{
            width: 24px;
            height: 24px;
        }
    }
    .burger_container{
        visibility: hidden;
    }
}



/* ----------  БУРГЕР МЕНЮ ----------- */
.burger_container {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 55px;
    transform: translate(-50%, -50%);
}

.bar--1,
.bar--2,
.bar--3 {
    width: 25px;
    height: 1.5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar--1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar--2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar--3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* ----------  БУРГЕР МЕНЮ ----------- */