.online-events {
  background: url(../img/dinosaur-events.png);
  
}
.online-events__head-container{
  text-align: center;
  }
  .online-events__headline {
      color: var(--secondary-headlines-color);
      font-family: var(--primary-font-family);
      font-size: 12px;
      letter-spacing: 2.4px;
  }
  .online-events__subtitle {
      color: #FFFFFF;
      font-family: var(--secondary-font-family);
      font-size: 56px;
  }
  .online-events__subtitle-dot {
      color:var(--secondary-headlines-color);
      font-family: var(--secondary-font-family);
      font-size: 56px;
  }
  .online-events__image--branch {
      display: block;
      max-width: 272px;
      margin: auto;
  }
  .online-events_content {
      color:#d1d1d1;
      font-family: var( --primary-font-family);
      font-size: 19px;
  }
  
  .online-events__list {

  }

.online-events__item {
   
}

.online-events__item-details {
   
}

.online-events__item-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.online-events__item-info {
   
}

.online-events__item-info__date {
    
}

.online-events__item-info__status {
    
}

.online-events__item-info__hour {
    

.online-events__item-description {
  
  
}

.online-events__item-description__title {
  
}

.online-events__item-description__subtitle {
  
}