.about-author {
    background-color: var();
}
.about-author__title {
    color: var()
}
.about-author__subtitle {
    color: var(--primary-text-color);
}
.about-author__subtitle-dot {
    color: var(--dot-color);
}